:root {
  --primary: #2563eb;
  --bg: #f1f5f9;
  --card: #ffffff;
  --text: #0f172a;
  --muted: #64748b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  color: var(--text);
}

.app-container {
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  /* padding: 30px 20px; */
}

.app-header {
  text-align: center;
  margin-bottom: 30px;
}

.app-header h1 {
  font-size: 32px;
  font-weight: 700;
}

.app-header p {
  color: var(--muted);
  font-size: 14px;
}

/* Glass card */
.glass {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.form-section {
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 14px;
}

label {
  font-size: 13px;
  font-weight: 500;
  color: var(--muted);
  display: block;
  margin-bottom: 6px;
}

input,
select {
  width: 100%;
  padding: 12px /*14px*/;
  border-radius: 10px;
  /* border: 1px solid #e5e7eb;
  font-size: 14px; */
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(37,99,235,0.15);
}

.row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.row > * {
  flex: 1 1 140px
}

.primary-btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  border-radius: 12px;
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.primary-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 25px rgba(37,99,235,0.35);
}

/* Area cards */
.area-card {
  background: var(--card);
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.area-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.area-card p {
  font-size: 14px;
  color: var(--muted);
  margin: 6px 0;
}

.area-card em {
  font-style: normal;
  font-weight: 600;
  color: var(--text);
}

.area-card strong {
  display: block;
  margin-top: 10px;
  font-size: 15px;
}

.area-card hr {
  margin: 14px 0;
  border: none;
  border-top: 1px dashed #e5e7eb;
}

.total-card {
  text-align: center;
  padding: 20px;
  border-radius: 14px;
  background: #0f172a;
  color: white;
  font-size: 18px;
}

@media print {
  body {
    background: white;
  }
  
  .form-section,
  .print-btn {
    display: none !important;
  }
  
  .total-card {
    background: white;
    color: balck;
    border-top: 2px solid #000;
  }
}
